# Node
node_modules/
build/
.env

#Data source 
data_source/

# Python
walmart_EDA/*
!walmart_EDA/EDA_scripts/
!walmart_EDA/EDA_scripts/** 
!walmart_EDA/Model/
!walmart_EDA/Model/** 
*.pyc
__pycache__/
.ipynb_checkpoints/
*.cfg

# OS / Editor
.DS_Store
.vscode/

#Cursor rules 
.cursor/rules
*.mdc

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
